#root {
  width: 100vw;
  height: 100vh;
}

.carousel {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.carousel-prev, .carousel-next {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100px;
}

.carousel-prev {
  left: 0;
  display: none;
}

.carousel-next {
  right: 0;
  display: none;
}

.carousel-item {
  position: absolute;
  display: inline-block;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  transition: all 1s ease;
  transition: all 1s ease, all 1s ease, all 1s ease;
}
.carousel-item img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.carousel-item.current {
  display: block;
  opacity:1;
}

.carousel-heading {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
}
.carousel-heading h2, .carousel-heading h3 {
  padding: 10 0px;
  color: #ECF0F1;
}

.carousel-heading .center{
  text-align: center;
}

.dots.active{
  background:black;
}

.btn,.btn-lg{
  margin-right:10px;
}

@media (min-width: 768px) {
  .carousel-prev::before {
    position: relative;
    top: 50%;
    left: 20px;
    content: '';
    display: inline-block;
    width: 2em;
    height:2em;
    border-right: .4em solid white;
    border-top: .4em solid white;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }

  .carousel-next::before {
    position: relative;
    top: 50%;
    right: -20px;
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    border-right: .4em solid white;
    border-top: .4em solid white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .carousel{
    height:400px;
  }

  ul{
    list-style: none;
    padding:0px;
    margin:0px;
  }

  .carousal-indicator-wrapper li{
    margin-right:5px;
    display: inline-block;
    width:10px;

    height:10px;
    background:orange;
    border-radius:10px;
  }

  .carousal-indicator-wrapper{
    right: 25px;
    cursor: pointer;
    position: absolute;
    bottom:10px;
  }
}
